#formulario {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    width: 80%;
    color: #fff;
    padding-top: 30px;
    font-family: Verdana, sans-serif;
}
#btn-new{
    text-align: center;
    width: 100%;
    clear:both;
    padding-top: 20px;
}
#formulario label {
    font-size: 1.3em;
    font-weight: bold;
}

.campo {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.005em;
    font-weight: 600;
    color: #fff;
    text-transform: none;
    caret-color: #1db954;
    box-sizing: border-box;
    width: 80%;
    background-color: transparent;
    border: none;

}
.campo_big{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -.005em;
    font-weight: 200;
    color: #fff;
    text-transform: none;
    caret-color: #1db954;
    width: 80%;
    background-color: #21202a;
    border:1px;
}
.box-input{
    float:left;
    padding-top: 20px;
    padding-left: 65px;
}
.box-input-right{
    float:right;
    padding-top: 20px;

}

.campo::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: normal;
}

.campo-sm {
    width: 60%;
}
/*
select {
    display: block;
    margin: 18px auto;
    width: 35%;
    font-size: 1.2em;
    padding: 5px;
    color: #650321;
}
.select-sm{
    margin: 5px auto !important;
    width: 90% !important;
    font-size: 1em !important;
    padding: 1px !important;
}

.selectable {
    display: block;
    margin: 13px;
}
*/
.entry{
    height: 100px;
    width: 60%;
    float:left;
}

.botones {
    height: 100px;
    float:right;
    margin: 20px auto;
    width: 40%;
}
.btn-form{
    padding: 11px 44px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin-top: 16px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    border: 0;
    border-radius: 500px;
    padding: 13px;
    min-width: 130px;
    white-space: normal;
    will-change: transform;
    line-height: 1.6;
    vertical-align: middle;
}
.botones-change{
    margin: 20px auto;
    width: 100%;
}

.botones input {
    margin: auto 15px;
    padding: 5px 15px;
    font-size: 1.1em;
    border: none;
    background: #e4e5e7;
    border-radius: 3px;
    cursor: pointer;
}
.botones-change input {
    margin: auto 5px;
    padding: 5px;
    font-size: 1.1em;
    border: none;
    background: #e4e5e7;
    border-radius: 3px;
    cursor: pointer;
}

.botones input:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.botones-change input:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.botones #nuevo {
    width: 60%;
    background-color: #4CAF50;
    font-weight: bold;
    color: #fff;
}
.botones-change #cambio {
    width: 60%;
    background-color: #9D344B;
    font-weight: bold;
    color: #fff;
}

.botones #nuevo:hover {
    background-color: #449d48;
}
.botones-change #cambio:hover {
    background-color: #cb6a7f;
}

#busqueda {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-image: url('../img/icons/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 40px;
}

.form-action-person {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-action-person table {
    margin: 0 auto;
    border: 1px solid #fff;
    width: 60%;
    border-spacing: 10px;
}

.form-action-person .label {
    text-align: left;
    width: 200px;
    font-size: 1em;
}

#cambioPass {
    display: none;
}

.margin-buttom {
    margin-bottom: 30px;
}

.radio-opciones {
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline-block;
    width: 40%;
}

.radio-opciones input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #000;
}

.entradas input {
    border-radius: 8px;
}

.entradas p {
    margin-top: 5px;
    font-size: 0.9em;
}

.decorado {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 12px 8px 37px;
}

#datos-personales #nombre, #datos-personales #apellido, #datos-personales #edad {
    background-image: url('../img/icons/user.png');
}

#datos-contacto #telFijo, #datos-contacto #telMovil {
    background-image: url('../img/icons/tel.png');
}

#datos-contacto #email, #datos-contacto #email-confirm {
    background-image: url('../img/icons/mail.png');
}

#nuevaEscuela #nombreEscuela {
    background-image: url('../img/icons/school.png');
}

#datos-interes-academico #otraCarrera {
    background-image: url('../img/icons/school.png');
}

#escuelasEncontradas {
    border: 1px solid #fff;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    color: #000;
    clear: both;
    text-align: left;
    background: #fff;
    max-height: 250px;
    overflow: scroll;
}

.resultadoEscuela {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    padding: 3px;
    color: #154586;
    margin: 4px auto;
    font-size: 1.1em;
}

.resultadoEscuela:hover {
    border: 1px solid #116e81;
    outline: none;
}
.calificacion{
    width: 60%;
    font-size: 1.1em;
}
.img-Wpadding{
    margin: 1px auto !important;
    padding: 1px !important;
}
.select {
  position: relative;
  border: 1px solid #21202a;
  width: 300px;
  height: 40px;
  overflow: hidden;
  background-color: #21202a;
}
  .select:before {
    content: '';
    position: absolute;
    right: 5px;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    z-index: 5;
    pointer-events: none;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  .select select {

    color: #fff;
    padding: 8px 8px;
    width: 110%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }
  .div-select-modal{
      padding-left: 430px;
  }
