.tabla-registros {
    margin: 0 auto;
    table-layout: auto;
    width: 80%;
    border-spacing: 3px;
    font-family: Helvetica, sans-serif;
}
.tabla-BD {
    padding-top: 60px;
    margin: 0 auto;
    table-layout: auto;
    width: 40%;
    font-family: Helvetica, sans-serif;
}

.tabla-registros th {
    background-color: #9D344B;
    padding: 5px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
}
.tabla-BD th {
    background-color: #9D344B;
    padding: 5px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
}
.tabla-registros th, .tabla-registros td {
    box-shadow: 1px 1px 2px #373737;
}

.tabla-registros tr {
    color: #4C0017;
    background-color: #fafafa;
}
.tabla-BD tr {
    color: #353030;

}

.tabla-registros tr:nth-child(2n+1) {
    background-color: #e8e1e1;
}


.tabla-registros td {
    padding-left: 5px;
    font-size: 1.2em;
}
.tabla-BD td {
    background-color: #353030;
    border-radius: 8px;
    font-size: 1em;
}
.tabla-BD td input {
    background-color: #fafafa;
    border-radius: 8px;
    font-size: 1.2em;
}
.tabla-BD td :hover {
    background-color: #eb8888;
    border-radius: 8px;
    font-size: 1.2em;
}

.tabla-registros td a {
    text-decoration: none;
}

.tabla-registros td a img {
    padding: 5px;
}

.selectPago {
    font-size: 1em;
    width: 90%;
    margin: 5px auto;
    background: white;
    color: #238e27;
    font-weight: bold;
}
.button-td{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.tabla-input{
    margin: 0 auto;
    table-layout: auto;
    width: 100%;
    font-family: Helvetica, sans-serif;
}
.tabla-input td{
    margin: 0 auto;
    table-layout: auto;
    width: 50%;
}

.tabla-input td select{
    margin: 0 auto;
    table-layout: auto;
    width: 60%;
}
.tdInner !inportant{
    margin: 0 auto;
    table-layout: auto;
    width: 20%;
}
