<div class="modal" id="modalAlumno">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="hide();">&times;</span>
        </div>
        <form class="" id="form-new-homework">
            <p>
                <textarea class="campo_big" placeholder="Descripción de la tarea" id="description" name="descripción" rows="3" cols="80" required></textarea>
            </p>
            <p><label for="delivery_date">Fecha de entrega</label></p>
            <p>
                <input type="date" id="delivery_date" name="" required>
            </p>
            <div class="group-inline-2">
                <p><label for="init_planned_date">Fecha planeada para iniciar</label></p>
                <p>
                    <input type="date" id="init_planned_date" name="" required>
                    <input type="time" id="init_planned_date_time" name="" required>
                </p>

                <p><label for="end_planned_date">Fecha planeada para terminar</label></p>
                <p>
                    <input type="date" id="end_planned_date" name="" required>
                    <input type="time" id="end_planned_date_time" name="" required>
                </p>
            </div>
            <p><label for="times">Tiempo planeado</label></p>
            <p>
                <div class="div-select-modal">
                    <div class="select">
                        <select  id="times" class="" name="">
                        </select>
                    </div>
                </div>
            </p>
            <p><label for="subjects">Materia y maestro</label></p>
            <p>
                <div class="div-select-modal">
                    <div class="select">
                        <select  id="teacherHasSubject" class="" name="">
                        </select>
                    </div>
                </div>
            </p>
            <div class="buttons">
                <input type="reset" id="clear" name="" value="Limpiar">
                <input type="button" onclick="hide();" value="Cancelar">
                <input type="submit" name="" value="Guardar">
            </div>
            <br>
        </form>
    </div>
</div>
