<div class="modal" id="modalNote">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="hideModal();">&times;</span>
        </div>

        <p>
            <textarea class="campo_big" placeholder="Nota" id="description" name="descripción" rows="3" cols="80" required></textarea>
        </p>
        <div class="botones" >
                <input type="button" id="nuevo" name="nuevo" value="Guardar nota" onclick="DescargarPDF('reporte','Reporte')">
        </div>




        <div class="fotter"></div>
    </div>
</div>
